@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@400;700&display=swap');

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
box-sizing: border-box;
}

/* 2. Remove default margin */
* {
margin: 0;
}

body {
/* 3. Add accessible line-height */
line-height: 1.5;
/* 4. Improve text rendering */
-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root, #__next {
isolation: isolate;
}



        /*-----------------------------------*\
        #NAVBAR
        \*-----------------------------------*/

        .navbar {
          width: 100%;
          position: fixed;
          align-items: center;
          justify-content: space-between;
          z-index: 50;
          display: flex;
          padding: 16px 26px;
          margin: auto;
          left: 0;
          right: 0;
      }

      .nav_logo {
          font-family: "League Spartan", sans-serif;
          font-size: 1.8rem;
          font-weight: bold;
          color: #db4a2b;
      }

      .desktop-nav {
          justify-content: space-between;
          align-items: center;
          list-style: none;
          gap: 6px;
          font-size: 12px;
          margin: 0;
          padding: 0;  
          border-radius: 9999px;
          display: flex;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); 
          gap: 32px;
          padding: 12px 48px;
          background-color: #f0f0f0; 
          font-family: "Libre Baskerville", serif;
          opacity: 0.9;
      }

      .desktop-nav a {
          text-decoration: none; 
          color: #271c19;  
      }

      .desktop-nav a:hover{
          cursor: pointer;
          color: #db4a2b;
      }

      .theme-switch-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .nav_contact {
          text-decoration: none;
          color: var(--text-color);
          align-items: center;
          font-family: "Libre Baskerville", serif;
          gap: 6px;
          font-size: 12px;
          padding: 10px 20px;
          border: var(--text-color) 1px solid;
          border-radius: 9999px;
          display: flex;
      }

      .navright {
          display: flex;
          gap: 20px;
      }

      .nav_moon {
          font-size: 20px;
          color: var(--text-color);
      }

      .phone-nav {
          display: none;
      }   


        /* Responsive media query */
      @media (max-width: 768px) {
      /* Hide desktop nav and show hamburger menu */
      .desktop-nav {
          display: none;
      }
      .phone-nav {
          display: flex;
      }
      }

      /*---------------------
      HAMBURGER MENU
      ----------------------*/

      .hamburger-menu {
      position: fixed;
      top: 0;
      right: 0;
      padding-top: 25px;
      padding-left: 15px;
      width: auto;
      height: 60px;
      z-index: 9998;
      opacity: 0.8;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      }

      .bar,
      .bar:after,
      .bar:before {
      width: 30px;
      height: 2px;
      }

      .bar {
      display: flex;
      position: relative;
      transform: translateY(10px);
      background: var(--text-color);
      transition: all 0ms 300ms;
      }

      .bar.animate {
      background: rgba(255, 255, 255, 0);
      }

      .bar:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 10px;
      background: var(--text-color);
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .bar:after {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      background: var(--text-color);
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .bar.animate:after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .bar.animate:before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

/*---------------------
Mobiles Menu 
----------------------*/
      /*---------------------
      Mobiles Menu - Design 
      ----------------------*/

      .mobile-menu ul {
      margin: 0;
      padding: 0;
      }

      .mobile-menu li {
      font-size: 20px;
      line-height: 30px;
      margin: 0;
      overflow: hidden;
      padding: 5px;
      position: relative;
      text-align: left;
      font-family: "league spartan", sans-serif;
      padding-left:15px;
      }

      .mobile-menu li:first-child {
      margin-top: 70px;
      }

      .mobile-menu li:hover {
      background: #CCCCCC;
      }

      .mobile-menu li a {
      text-decoration: none;
      color: #271c19;;
      }

      /*---------------------
      Mobiles Menu - Slide IN 
      ----------------------*/

      .mobile-menu {
      top: 0;
      max-width: 200px;
      right: -100%;
      width: 100%;
      background: #f0f0f0;
      opacity: 0.8;
      color: black;
      height: 100%;
      position: fixed;
      z-index: 9997;
      overflow-y: auto;
      -webkit-transform: translate3d(0, 0, 205px);
      -moz-transform: translate3d(0, 0, 205px);
      transform: translate3d(0, 0, 205px);
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      }

      .mobile-menu.active {
      right: 0;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      }


    /*-----------------------------------*\
      #FOOTER
    \*-----------------------------------*/

    .footer {
      margin-top: 30px;
    }

    .footer_container {
      text-align: center;
    }

    .footer_logo {
      font-family: "League Spartan", sans-serif;
      color: #db4a2b;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
    }

    .footer_email {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      font-family: "Libre Baskerville", serif;
      font-size: 12px;
      color: var(--text-color);
    }

    .footer_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      font-family: "Libre Baskerville", serif;
      font-size: 12px;
      color: var(--text-color);
      border-top: 1px solid #db4a2b;
      margin: 15px 50px;
      padding: 15px 0px;
    }

    .footer_content ul {
      display: flex;
      list-style: none;
      gap: 20px;  
    }

    .footer_content a {
      text-decoration: none;
      color: var(--text-color);
    }

/* Responsive */
@media (max-width: 600px) {
  .footer_content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
  }
  .footer_content p {
    text-align: center;
  }
  .footer_content ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}


